/*Ryan Kane Final Project External CSS Style Sheet */

body {
    background-image: url("images/background.jpg");
	background-repeat: repeat;
	color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
}

#main {
    background-color: black; 
	width: 640px;
	padding: 10px;
    text-indent: 2em;
    float: left;
    margin-right: 10px;
    
}

#container {   
	margin: 0 auto;
    width: 900px;
    background-color: black;
}

a{
	color: white;
}


p main {
    font-size: 1em;
}

footer {
    background-color: black;
    border: 3px solid red;
    clear: both;
    text-align: center;
    width: 890px;
}

.center{
	text-align: center;
	line-height: 2em;
}

.nav{
	text-align: center;
	font-size: 1.1em;
	border-bottom: 3px solid white;
}